div{
    text-align: left;
    color: rgb(231, 23, 23);
}

h1{
    text-align: left;
    color: rgb(59, 8, 245);
}

h2{
    text-align: left;
    color: rgb(231, 23, 23);
}

h3{
    text-align: left;
    color: rgb(231, 23, 23);
}

h4{
    text-align: left;
    color: rgb(231, 23, 23);
}

h5{
    text-align: left;
    color: rgb(231, 23, 23);
}

nav{
    text-align: left;
    color: rgb(231, 23, 23);
}

footer{
    text-align: left;
    color: rgb(231, 23, 23);
}




